/ramonadev_history
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Ramona specific ignores
*.sublime-*

demo_history
log/*.log
log

MANIFEST

# Eclipse/PyDev
.project
.pydevproject
.settings
/log-test
*.pid
/ramona-test-site.conf
gource.log
gource.mp4
.ramona.stash

*.lo
*.o
*.la
libev/config.log
libev/config.h
libev/config.status
libev/libtool
libev/Makefile
libev/stamp-h1
libev/.deps
libev/.libs
core.so
