include AUTHORS
include LICENSE.txt
include README.md

recursive-include ramona *.py

include ramona/httpfend/index.tmpl.html
include ramona/httpfend/401.tmpl.html
include ramona/httpfend/log_frame.tmpl.html
recursive-include ramona/httpfend/static/bootstrap *.css
recursive-include ramona/httpfend/static/miniajax *.js
recursive-include ramona/httpfend/static/img *.ico *.gif

exclude ramona/server/__utest__.py
exclude ramona/__utest__.py
